.nav-menu{
    background-color: var(--primary-color);
    width: 100%;
    color: var(--white-color);
    z-index: 100;
}
.nav-tabs .nav-link{
    color: var(--white-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-tabs{
    height: 40px;
    overflow: hidden;
}

.wrapper{
    margin: 20px 0;
}

.news_title{
    padding: 20px 0;
}
.news_title-header{
    padding: 12px 0;
    
}
.news_title-header a{
    text-decoration: none;
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--font-color);
    line-height: 1.8rem;
}
.news_title-desc a{
    font-size: 1rem;
    color: var(--font-color);
    line-height: 1.4rem;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 200;
}
.news_today{
    color: #0066cc;
}
.news_list{
    border: 0.5px solid rgba(102, 102, 102, 0.1);
}
.news_item{
    text-decoration: none;
    border-bottom: 0.5px solid rgba(102, 102, 102, 0.1);
}
.news_item a{
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 200;
    color: var(--font-color);
    font-size: 13px;
}

.flex-col{
    flex-direction: column !important;
}
.flex-row{
    display: flex;
}

.img-size-40{
    width: 160px;
    height: 160px;
}
.card-body a{
    text-decoration: none;
    color: var(--font-color);
}
.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news_header{
    padding: 20px 0;
}

.news_header a{
    text-decoration: underline;
    background-color: var(--primary-color);
    color: var(--white-color);
}
.card-deck .card{
    margin-bottom: 20px;

}
.underline_divider{
    margin: 5px 0;
    border-bottom: 4px solid #f2f2f2;
}
.underline{
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.footer_title{
    font-size: 13px;
    line-height: 1.4rem;
}
.footer_desc{
    font-size: 13px;
    line-height: 1.4rem;
}

.footer_contact{
    font-size: 13px;
    line-height: 1.4rem;
}

.footer__download-app-link-icon{
    width: 100px;
    margin: 10px;
    text-decoration: none;
}
.footer__app-link{
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

/* Post */
.post__header{
    display: flex;
    justify-content: space-between;
}
.post__header-list{
    display: flex;
    list-style: none;
}
.post__header-list li::after{
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #8e8e8e;
    border-right: 1px solid #8e8e8e;
    transform: rotate(45deg);
    display: block;
    position: relative;
    float: left;
    margin: 8px 12px 8px 8px;
}

.content__news-body figure.image{
    position: relative;
    overflow: hidden;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.content__news-body figure.image:hover{
    opacity: 1;
}

.content__news-body img{
    width: 100%;
    height: auto;
}
.content__news-body figcaption{
    background-color: #f1f1f1;
    padding: 8px;
    float: left;
    width: 100%;
    position: relative;
    font-size: 15px;
    font-family: Arial,sans-serif;
}
.image-instruction-background, .img-instruction{
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 0;
    transition: opacity .13s ease-in-out;
}
.content__news-footer{
    margin: 16px 0;
}
.content__news-footer section{
    margin: 16px 0;
}

.news-footer__header{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
}
.news-footer__header::before{
    content: "";
    width: 2px;
    height: 16px;
    display: block;
    float: left;
    background-color: #06c;
    margin-top: 3px;
    margin-right: 8px;
}
.news-footer__title{
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
}

.news-footer__link{
    font-weight: 400;
    color: #06c;
    font-size: 15px;
    line-height: 21px;
}

.news__tags{
    width: 80%;
    display: flex;
    margin: 16px 0;
}
.news__tag-label{
    font-weight: 600;
    margin-right: 10px;
    margin-top: 4px;
}
.news__tag-list{
    margin-bottom: -6px;
    flex: 1;
    list-style: none;
}
.news__tag-list li{
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
}
.news__tag{
    font-size: 13px;
    font-weight: 600;
    color: #8e8e8e;
}
.news__tag a{
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    display: block;
    padding: 4px 8px;
    color: inherit;
    text-decoration: none;
}

.nav-tabs .dropdown-menu-xahoi{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}

.nav-tabs .dropdown-menu-thegioi{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-kinhte{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-vanhoa{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-phapluat{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-thethao{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-giaitri{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-giaoduc{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-dulich{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-suckhoe{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}
.nav-tabs .dropdown-menu-khoahoc{
    position: absolute;
    padding: 10px 34px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid #eee;
    border-top: 0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    z-index: 999;
}

.dropdown-toggle-thegioi:hover .dropdown-menu-thegioi,
.dropdown-toggle-kinhte:hover .dropdown-menu-kinhte,
.dropdown-toggle-vanhoa:hover .dropdown-menu-vanhoa,
.dropdown-toggle-phapluat:hover .dropdown-menu-phapluat,
.dropdown-toggle-thethao:hover .dropdown-menu-thethao,
.dropdown-toggle-giaitri:hover .dropdown-menu-giaitri,
.dropdown-toggle-giaoduc:hover .dropdown-menu-giaoduc,
.dropdown-toggle-dulich:hover .dropdown-menu-dulich,
.dropdown-toggle-suckhoe:hover .dropdown-menu-suckhoe,
.dropdown-toggle-khoahoc:hover .dropdown-menu-khoahoc,
.dropdown-toggle-xahoi:hover .dropdown-menu-xahoi{
    display: block;
}
.dropdown-submenu {
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #f4f6fa;

}
.dropdown-submenu>a{
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}
   
.dropdown-submenu .dropdown-menu{
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.dropdown-link{
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color);
}

/* Categories */
.categories__header{
    height: 120px;
}
.categories__header-top{
    display: flex;
    justify-content: space-between;
}
.categories__header-top h1 a{
    font-size: 32px;
    line-height: 32px;
    text-decoration: none;
}
.top-trending{
    float: left;
    position: relative;
    margin-left: auto;
    max-width: 65%;
}
.top-trending__label{
    display: none;
}
.top-trending__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.top-trending__list li{
    margin: 0 5px;
}
.top-trending__list>li:first-child:before{
    position: absolute;
    color: #06c;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    top: 6px;
    left: -60px;
    content: "Dòng sự kiện";
}
.top-trending__list>li>a{
    background-color: #f4f6fa;
    color: #616161d0;
    line-height: inherit;
    font-size: 12px;
    padding: 6px 12px 5px;
    display: block;
    border-radius: 20px;
    letter-spacing: .2px;
    border: 1px solid #eee;
    text-decoration: none;
}
.top-trending__list>li>a:hover{
    color: #616161;
}
.category-navigation{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    
}
.category-navigation:after, 
.category-navigation:before{
    content: " ";
    display: table;
}
.category-navigation:after{
    clear: both;
}
.category-navigation__item{
    list-style: none;
}
.category-navigation__item a{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    padding: 0 10px;
    text-decoration: none;
}
.category-navigation__item a:hover{
    color: #06c;
}
.content-header-card-top{
    flex-direction: row;
    border: none;
    background-color: #f4f6fa;
}
.content-header-card-body{
    max-width: calc(100% /3);
}
.content-header-card-body-title{
    font-size: 30px;
    line-height: 30px;
}
.content-header-card-body-title:hover{
    color: #06c;
}
.content-header-card-body-text{
    -webkit-line-clamp: 4;
}
.content-header-card-deck{
    margin: 30px -15px;
}
.card-text-none{
    display: none;
}

.categories__content-footer h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}
.categories__content-footer h3::before{
    width: 4px;
    height: 24px;
    margin-top: 3px;
    margin-right: 10px;
    display: block;
    float: left;
    background-color: #06c;
    content: "";
}
.categories__content-header{
    margin-bottom: 40px;
}
.categories__content-body{
    margin-bottom: 40px;
}
.categories__news-footer{
    margin-top: 10px;
}
.list-unstyled{
    display: flex;
}
.list-unstyled>li>a{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 8px 30px;
}
.content-body-card-top{
    flex-direction: row;
    border: none;
}
.content-body-card-body-title{
    color: var(--font-color);
    font-size: 25px;
    line-height: 20px;
}
.content-body-card-body-title:hover{
    color: #06c;
    text-decoration: none;
}
.categories__news-underline{
    padding: 20px 0;
}
.categories__content-right{
    background-color: #ccc;
    padding: 10px;
}
.categories__content-right::before{
    content: "";
    width: 2px;
    height: 24px;
    display: block;
    float: left;
    background-color: #06c;
    margin-top: 10px;
    margin-right: 8px;
}
.categories__content-right>h2>a{
    text-decoration: none;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
}
.content-right{
    border: none;
    background-color: #ccc;
    position: relative;
    left: -15px;
}
.categories__content-right>ul>li:first-child{
    list-style: none;
    width: 100%;
    padding: 0;
}
.categories__content-right>ul>li{
    width: 100%;
    color: #06c;
}
.categories__content-right>ul>li>a{
    text-decoration: none;
    color: var(--font-color);
}
.categories__content-right>ul>li>a:hover{
    color: #06c;
}