@model TodoListApp.WebApp.Models.LoginModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using Microsoft.AspNetCore.Http;
<!-- Login -->
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <form class="user">
        <div class="form-group">
            @*<input type="text" class="form-control form-control-user"
                placeholder="Tài khoản đăng nhập">*@
            @Html.TextBoxFor(model => model.UserName, new
            {
                @class = "form-control form-control-user",
               @id = "exampleInputEmail",
                @placeholder = "Tài khoản đăng nhập",
                @autofocus = "autofocus",
            })
        </div>
        <div class="form-group">
            @*<input type="password" class="form-control form-control-user"
                id="exampleInputPassword" placeholder="Mật khẩu">*@
            @Html.PasswordFor(model => model.Password, new
           {
               @class = "form-control form-control-user",
               @id = "exampleInputEmail",
               @placeholder = "Mật khẩu"
           })
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                @Html.CheckBoxFor(model => model.RememberMe, new { @class = "custom-control-input", @id = "customCheck" })
                @*<input type="checkbox" class="custom-control-input" id="customCheck">*@
                <label class="custom-control-label" for="customCheck">Ghi nhớ</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Đăng Nhập
        </button>
        <hr>
        <a href="index.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Đăng nhập với Google
        </a>
        <a href="index.html" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập với Facebook
        </a>
    </form>
}

<hr>
<div class="text-center">
    <a class="small" href="#">Quên Mật khẩu?</a>
</div>
<div class="text-center">
    <a class="small" asp-action="Create" asp-controller="Login">Tạo Tài Khoản!</a>
</div>


<!-- End of Login -->
