
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="rowheader">
    <h1>Todolist MVC App</h1>
</div>

<div class="text-center">
    <a href="index.html">Home</a> |
    <a href="index.html">Tasks</a> |
    <a href="categories.html">Categories</a>
</div>

<div class="page">
    <h2>Categories</h2>
    &ensp;
    <div class="row">
        <div class="col-xl-1">Category</div>
        <div class="col-xl-2"><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></div>
    </div>
    &ensp;
    <div class="row">
        <div class="col-xl-1">Status</div>
        <div class="col-xl-2">
            <select name="Category" class="form-control" id="2">
                <option value="">Active</option>
                <option value="">InActive</option>
            </select>
        </div>
    </div>
</div>
            &ensp;
<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg">Search</button>
</div>
            &ensp;
<div class="row">
    <div class="col-xl-6"></div>
    <div class="col-xl-2"></div>
    <div class="col-xl-2"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">Create Category</button></div>
    <div class="col-xl-2"><button type="button" class="btn btn-secondary">Export CSV</button></div>
</div>
            &ensp;
<div class="d-flex flex-row-reverse">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
    </ul>
</div>
<!-- DataTales Example -->
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>CreateDate</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Đọc sách</td>
                <td>6/9/2021</td>
                <td>Active</td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal">Edit</button> |
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mua sắm</td>
                <td>6/9/2021</td>
                <td>Active</td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal">Edit</button> |
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Học tập</td>
                <td>6/9/2021</td>
                <td>Active</td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal">Edit</button> |
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Thể dục</td>
                <td>6/1/2021</td>
                <td>InActive</td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal">Edit</button> |
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Accountant</td>
                <td>6/9/2021</td>
                <td>Active</td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal">Edit</button> |
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Specialist</td>
                <td>6/9/2021</td>
                <td>Active</td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal">Edit</button> |
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create/Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">Name</div>
                    <div class="col-md-6"><input class="form-control" type="text" /></div>
                </div>
                &ensp;
                <div class="row">
                    <div class="col-md-4">Status</div>
                    <div class="col-md-6">
                        <select name="IsCompeled" class="form-control" id="2">
                            <option value="">Active</option>
                            <option value="">InActive</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Note</div>
                    <div class="col-md-6">
                        <textarea name="txtComment" id="txtComment" class="form-control" rows="5" cols="25"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu và Thoát</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
            </div>
        </div>
    </div>
</div>