<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/style/style.css">
    <title>TodoList App</title>
    <!-- Custom fonts for this template -->
    <link href="~/style/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/style/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/style/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <!-- Login -->
    <div class="container">
        @RenderBody()
    </div>

    <!-- End of Login -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>&copy; Hoang Harry, June 23, 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- User Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Đăng ký Tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Tên đăng nhập</div>
                        <div class="col-md-6"><input class="form-control" type="text" /></div>
                    </div>
                    &ensp;
                    <div class="row">
                        <div class="col-md-4">Mật khẩu</div>
                        <div class="col-md-6"><input class="form-control" type="password" /></div>
                    </div>
                    &ensp;
                    <div class="row">
                        <div class="col-md-4">Họ Tên</div>
                        <div class="col-md-6"><input class="form-control" type="text" /></div>
                    </div>
                    &ensp;
                    <div class="row">
                        <div class="col-md-4">Ngày sinh</div>
                        <div class="col-md-6"><input class="form-control" type="date" name="birth" id="1"></div>
                    </div>
                    &ensp;
                    <div class="row">
                        <div class="col-md-4">Email</div>
                        <div class="col-md-6"><input class="form-control" type="text" /></div>
                    </div>
                    &emsp;
                    <div class="row">
                        <div class="col-md-4">Điện thoại</div>
                        <div class="col-md-6"><input class="form-control" type="text" /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">Điều khoản cần chú ý</div>
                        <div class="col-md-6">
                            <textarea class="form-control" name="txtComment" id="txtComment" rows="5" cols="25" disabled>
Một số thông tin cần lưu ý khi đăng ký:
1. Khi sử dụng dịch vụ của chúng tôi, bạn tin tưởng cung cấp thông tin của bạn cho chúng tôi. Chúng tôi hiểu rằng đây là một trách nhiệm lớn và chúng tôi nỗ lực bảo vệ thông tin của bạn cũng như để bạn nắm quyền kiểm soát.
2. Chúng tôi sử dụng dữ liệu để phát triển các dịch vụ tốt hơn
3. Bạn có các lựa chọn liên quan đến thông tin chúng tôi thu thập và cách thông tin được sử dụng
4. Nhiều dịch vụ của chúng tôi cho phép bạn chia sẻ thông tin với người khác và bạn nắm quyền kiểm soát cách chia sẻ. Ví dụ: bạn có thể chia sẻ công khai video trên YouTube hoặc có thể quyết định giữ các video của bạn ở chế độ riêng tư. Xin nhớ rằng khi bạn chia sẻ công khai thông tin, nội dung của bạn có thể truy cập được thông qua các công cụ tìm kiếm, bao gồm cả Google Tìm kiếm.
5. Tất cả các sản phẩm của Google đều được tích hợp các tính năng bảo mật mạnh mẽ, liên tục bảo vệ thông tin của bạn. Thông tin chi tiết chúng tôi có được từ việc duy trì các dịch vụ giúp chúng tôi phát hiện và tự động chặn các mối đe dọa về bảo mật để chúng không bao giờ tiếp cận được đến bạn. Nếu phát hiện thấy điều gì đó có khả năng gây rủi ro mà chúng tôi cho là bạn nên biết, chúng tôi sẽ thông báo cho bạn và hướng dẫn bạn thực hiện các bước để được bảo vệ tốt hơn.
                        </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Đăng ký</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/style/vendor/jquery/jquery.min.js"></script>
    <script src="~/style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/style/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/style/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/style/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/style/js/demo/datatables-demo.js"></script>

</body>

</html>